@model RentRight.Models.Property

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/properties.css" asp-append-version="true" />

<h1>Create a property</h1>

<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
        <form asp-action="Create" class="d-flex flex-column justify-content-center align-items-center" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-100">
                <label asp-for="PhotoFile" class="control-label"></label>
                <input asp-for="PhotoFile" type="file" class="form-control" required />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>

            <div class="form-floating mt-3 w-100">
                <input asp-for="Name" class="form-control" placeholder="Name" required />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3 w-100">
                <textarea asp-for="Description" class="form-control" placeholder="Description" required></textarea>
                <label asp-for="Description" class="control-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3 w-100">
                <input asp-for="Street" class="form-control" placeholder="Street" required />
                <label asp-for="Street" class="control-label"></label>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="w-100 d-flex justify-content-between">
                <div class="form-floating mt-3 col-3">
                    <input asp-for="StNumber" class="form-control" required placeholder="Number" />
                    <label asp-for="StNumber" class="control-label"></label>
                    <span asp-validation-for="StNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-3">
                    <input asp-for="PostalCode" class="form-control" required placeholder="Postal Code"/>
                    <label asp-for="PostalCode" class="control-label"></label>
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-3">
                    <input asp-for="City" class="form-control" required placeholder="City"/>
                    <label asp-for="City" class="control-label"></label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <div class="w-100 d-flex justify-content-between">
                <div class="form-floating mt-3 col-5">
                    <select asp-for="OwnerId" class="form-select" required>
                        <option value="">Select Owner</option>
                        @foreach (var owner in ViewBag.Owners)
                        {
                            <option value="@owner.Id">@owner.FirstName @owner.LastName</option>
                        }
                    </select>
                    <label asp-for="OwnerId" class="control-label"></label>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-5">
                    <select asp-for="ManagerId" class="form-select" required>
                        <option value="">Select Manager</option>
                        @foreach (var manager in ViewBag.Managers)
                        {
                            <option value="@manager.Id">@manager.FirstName @manager.LastName</option>
                        }
                    </select>
                    <label asp-for="ManagerId" class="control-label"></label>
                    <span asp-validation-for="ManagerId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-5 w-100">
                <input type="submit" value="Save" class="btnSave" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
