@model IEnumerable<RentRight.Models.Property>

@{
    ViewData["Title"] = "Properties";
}
@using System.Security.Claims;
@{
    var fullName = User.FindFirstValue(ClaimTypes.Name);
    var type = User.FindFirstValue(ClaimTypes.Role);
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<link rel="stylesheet" href="~/css/properties.css" asp-append-version="true" />

<div class="d-flex justify-content-between px-0 fw-bold">
    <h3>Properties</h3>

    <div class="d-flex justify-content-between align-items-end">
        <input class="search me-2" type="text" placeholder="Search..." />
        <a class="btnSearch fw-bold px-6">
            Search
        </a>
    </div>
</div>

@if(type != "tenant")
{
    <a asp-action="Create" class="d-flex justify-content-between align-items-center btnCreate mt-3 fw-bold px-6">
        <i class="fas fa-plus me-2"></i>Create
    </a>
}

<div class="row px-0 mt-5">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <a>
                <div class="card" >
                    <img height="220" class="card-img-top" src="data:image;base64,@Convert.ToBase64String(item.Photo)" alt="Property Photo" />
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text align-self-end"><small class="text-muted">@item.StNumber, @item.Street - @item.City, QC</small></p>
                        @if (type != "tenant")
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btnEdit btn fw-bold px-6">Edit</a>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</div>