@model IEnumerable<RentRight.Models.Property>

@{
    ViewData["Title"] = "Properties";
}
@using System.Security.Claims;
@{
    var fullName = User.FindFirstValue(ClaimTypes.Name);
    var type = User.FindFirstValue(ClaimTypes.Role);
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<link rel="stylesheet" href="~/css/properties.css" asp-append-version="true" />

<div class="d-flex justify-content-between px-0 fw-bold">
    <h3>Properties</h3>

    <div class="d-flex justify-content-between align-items-end">
        <input class="search me-2" type="text" placeholder="Search..." />
        <a class="btnSearch fw-bold px-6">
            Search
        </a>
    </div>
</div>

@if(type != "tenant")
{
    <a asp-action="Create" class="d-flex justify-content-between align-items-center btnCreate mt-3 fw-bold px-6">
        <i class="fas fa-plus me-2"></i>Create
    </a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                    <img src="data:image;base64,@Convert.ToBase64String(item.Photo)" alt="Property Photo" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
