@model IEnumerable<RentRight.Models.User>

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />

<div class="d-flex justify-content-between px-0 fw-bold">
    <h3>Users</h3>

    <div class="d-flex justify-content-between align-items-end">
        <form asp-action="Search" method="get">
            <input class="search me-2" type="text" placeholder="Search..." name="searchTerm" />
            <input type="submit" value="Search" class="btnSearch" />
        </form>
    </div>
</div>

<a asp-action="Create" class="d-flex justify-content-between align-items-center btnCreate mt-3 fw-bold px-6">
    <i class="fas fa-plus me-2"></i>Create
</a>

<table class="table mt-3 table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
                <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                <td class="align-content-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            
            @if (item.IsActive)
            {
                    <td class="align-content-center">Yes</td>
            }
            else{
                    <td class="align-content-center">No</td>
            }
            
            <td class="align-content-center">
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
